BOT_TOKEN=your_bot_token_here
CLIENT_ID=your_client_id_here
GUILD_ID=your_guild_id_here
TARGET_CHANNEL_ID=your_target_channel_id_here
RECRUIT_BOARD_CHANNEL_ID=your_recruit_board_channel_id_here
INVITE_CHANNEL_ID=your_invite_channel_id_here
RECRUIT_REPORT_CHANNEL_ID=your_recruit_report_channel_id_here
BIRTHDAY_BOARD_CHANNEL_ID=your_birthday_board_channel_id_here
BIRTHDAY_GREETING_CHANNEL_ID=your_birthday_greeting_channel_id_here
LOG_CHANNEL_ID=your_log_channel_id_here
WELCOME_CHANNEL_ID=your_welcome_channel_id_here
AUTOMOD_CHANNEL_ID=your_automod_channel_id_here
APP_CREATE_CHANNEL_ID=your_app_create_channel_id_here
APP_LOG_CHANNEL_ID=your_app_log_channel_id_here
APP_CATEGORY_ID=your_app_category_id_here
RECRUIT_APP_BANNER_CHANNEL_ID=your_recruit_app_banner_channel_id_here
RECRUIT_APP_LIST_CHANNEL_ID=your_recruit_app_list_channel_id_here
ADMIN_PANEL_CHANNEL_ID=your_admin_panel_channel_id_here
MEETING_ROLE_ID=your_meeting_role_id_here
MEETING_VOICE_CHANNEL_ID=your_meeting_voice_channel_id_here
NVIDIA_API_KEY=your_nvidia_api_key_here
BLACKLIST_CHANNEL_ID=your_blacklist_channel_id_here
VERIFICATION_ROLE_ID=your_verification_role_id_here
VERIFICATION_EMOJI=✅
VZP_PING_ROLE_IDS=role_id_1,role_id_2,role_id_3
VZP_CREATOR_ROLE_ID=role_id_that_can_create_banners
VZP_ADMIN_ROLE_IDS=role_id_1,role_id_2,role_id_3
TG_API_ID=your_telegram_api_id
TG_API_HASH=your_telegram_api_hash
TG_HELPER_CHAT_ID=telegram_chat_id_with_helperbot
TG_WAR_CHANNEL_ID=discord_channel_for_war_alerts
